@import "../../../../theme";

.mat-toolbar {
  a {
    display: inline-flex;
    align-items: center;
    color: $app-color-white;
    text-decoration: none;

    .mat-icon {
      margin-right: $app-gap-normal;
    }
  }

  .app-space-fill {
    flex: 1 1 auto;
  }
}
