<mat-card>
  <mat-card-title>TODOs</mat-card-title>
  <mat-card-content>
    <ng-template #emptyListRef>
      <app-info></app-info>
    </ng-template>

    <mat-list *ngIf="todoItems?.length > 0; else emptyListRef">
      <mat-list-item *ngFor="let todoItem of todoItems">
        <div matLine>{{ todoItem.name }}</div>
        <div matLine>{{ todoItem.description }}</div>
        <button mat-icon-button type="button" (click)="onDelete(todoItem)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
