<mat-accordion multi>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-icon>assignment</mat-icon>
      Open Tasks
    </mat-expansion-panel-header>
    <ng-template #emptyListRef>
      <app-info text="You are all set! There are no open items 😀"></app-info>
    </ng-template>

    <ng-container *ngIf="openTodoItems?.length > 0; else emptyListRef">
      <ng-container *ngTemplateOutlet="listInstanceRef; context: { $implicit: { items: openTodoItems } }"></ng-container>
    </ng-container>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="doneTodoItems?.length > 0">
    <mat-expansion-panel-header>
      <mat-icon>assignment_turned_in</mat-icon>
      Finished Tasks
    </mat-expansion-panel-header>
    <ng-container *ngTemplateOutlet="listInstanceRef; context: { $implicit: { items: doneTodoItems } }"></ng-container>
  </mat-expansion-panel>
</mat-accordion>

<ng-template #listInstanceRef let-data>
  <mat-nav-list *ngIf="data.items | todoFilter:filter as filteredItems; else emptyFilterRef">
    <mat-list-item *ngFor="let todoItem of filteredItems" (click)="onToggleDone(todoItem)">
      <mat-checkbox [checked]="todoItem.isDone"></mat-checkbox>
      <div matLine [class.app-done]="todoItem.isDone">{{ todoItem.name }}</div>
      <div matLine>{{ todoItem.description }}</div>
      <button mat-icon-button type="button" matTooltip="Delete Task" (click)="onDelete(todoItem)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</ng-template>

<ng-template #emptyFilterRef>
  <app-info text="No TODOs are matching your filter 😞"></app-info>
</ng-template>
