@import "./variables";
@import "./mat-theme";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: mat-color($todo-app-primary);
}

section {
  &:not(:last-child) {
    margin-bottom: $app-gap-large;
  }
}
