$app-gap-normal: 16px;
$app-gap-small: $app-gap-normal * 0.5;
$app-gap-large: $app-gap-normal * 2;

$app-color-white: #e3e3e3;
$app-color-black: #212121;

$app-color-google: #FFFFFF;
$app-color-github: #333333;
$app-color-microsoft: #2F2F2F;
