<div class="app-columns">
  <section class="app-column">
    <app-todo-form (itemCreated)="onItemCreated($event)"></app-todo-form>
  </section>

  <section class="app-column">
    <ng-template #loadingRef>
      <app-loading></app-loading>
    </ng-template>

    <ng-container *ngIf="!isLoading; else loadingRef">
      <section>
        <app-todo-filter [(filter)]="todoItemFilter"
                         (filterChange)="onFilterChange($event)"></app-todo-filter>
      </section>

      <section>
        <app-todo-list [todoItems]="todoItems"
                       [filter]="todoItemFilter"
                       (toggleDone)="onToggleDone($event)"
                       (delete)="onDeleteItem($event)"></app-todo-list>
      </section>
    </ng-container>
  </section>
</div>
