<div class="app-columns">
  <section class="app-column">
    <app-todo-form (itemCreated)="onItemCreated($event)"></app-todo-form>
  </section>

  <section class="app-column">
    <ng-template #loadingRef>
      <app-loading></app-loading>
    </ng-template>

    <app-todo-list *ngIf="!isLoading; else loadingRef"
                   [todoItems]="todoItems"
                   (toggleDone)="onToggleDone($event)"
                   (delete)="onDeleteItem($event)"></app-todo-list>
  </section>
</div>
